# macOS
.DS_Store

# Build products
/DerivedData
/DerivedDataLocal
build/
.build/

# User settings
xcuserdata/
*.xcuserstate

# Swift Package Manager
.swiftpm/
Packages/

# Workspaces
*.xcworkspace

# Xcode caches
*.hmap
.swift-module-cache/

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
